.checkbox-somministrazione{
    width: 20px;
    height: 20px;
    size : 20px;
}

.bottone-salva-somm{
    background-color: #4f57a5;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
}

.somministrazioni-grid {
  display: flex;
  gap: 24px;
  margin-bottom: 16px;
  flex-wrap: wrap;
}

.colonna-somm {
  flex: 1;
  min-width: 200px;
}
